/*body {
    background-image: url("https://www.mitcalc.com/images/HoA.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hpage{
    border: solid blue;
    height: 50vh;
    width: 50vh;
    justify-content: center;
  }
  */